.darkModeToggle {
  @apply m-1 origin-left scale-100 cursor-pointer p-3 text-white 
  opacity-70 transition-all
  hover:opacity-100;
}

.nav {
  @apply relative top-0 m-0 mr-0 h-screen w-20 space-y-8 overflow-visible
  bg-zinc-800 pt-16;
}

.list {
  @apply flex w-full flex-col items-center justify-center space-y-5 overflow-visible;
}

.itemNav {
  @apply flex h-16 w-16  cursor-pointer  items-center justify-center
  rounded-3xl bg-zinc-700 text-white transition-all 
  hover:rounded-xl hover:text-red-400;
}

.active {
  @apply text-red-600;
}

.tooltip {
  @apply absolute left-24 z-50 m-2 min-w-max origin-left scale-0 
  rounded-md bg-zinc-800 p-2 text-xl font-extrabold shadow-md 
  transition-all duration-100 ease-out;
}

.routeActions {
  @apply list;
  @apply origin-left transition-all;
}

/* side action bar */
.itemAction {
  @apply itemNav;
  @apply h-14 w-14 rounded-xl bg-zinc-600 hover:rounded-3xl;
}

.subActions {
  @apply itemAction;
  @apply h-12 w-12 bg-zinc-700;
}

.main {
  @apply h-screen flex-1 bg-zinc-700 pl-3;
}

.header {
  @apply relative right-0 top-0 flex h-16 w-full flex-row-reverse items-center
  justify-start bg-zinc-700;
}

.searchBar {
  @apply mx-9 h-10 min-w-min origin-left rounded-3xl px-2
  text-center text-sm font-semibold opacity-70 transition-all
  hover:rounded-md hover:opacity-100;
}
