.inner {
  @apply flex h-full flex-col items-center justify-start overflow-auto pb-20;
}

.list {
  @apply w-full space-y-5 md:w-11/12 lg:w-10/12 2xl:w-9/12;
}

.endMark {
  @apply mt-3 w-full cursor-default  rounded-xl py-2 text-center text-zinc-400
  hover:bg-zinc-600 hover:text-zinc-200;
}

.itemAction {
  composes: itemAction from "./Layout.module.css";
}

.subActions {
  composes: subActions from "./Layout.module.css";
}

.tooltip {
  composes: tooltip from "./Layout.module.css";
}
